/*Basic website*/
html{
  scroll-behavior: smooth;
}
body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  background: #342B4B; 
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  float: left;
}
a{
  padding: 20px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/*Definition of navigation bar*/
.logo{
  width: 120px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: -20px;
}
.menu-icon{
  margin-top: -20px;
  width: 50px;
  cursor: pointer;
  display: none;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  overflow: hidden;
  position: fixed;
  top:0;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}
nav ul li a:hover{
  color:#63DDFC;
}

/*Definition of all the sections*/
#home{
  height: 700px;
  display: inline-block;
  width: 100%;
}
#about{
  height: 700px;
  display: inline-block;
  width: 100%;
}
#video{
  height: 700px;
  display: inline-block;
  width: 100%;
}

/*writing/figures on home page*/
.content h1{
  font-size: 60px;
  font-weight: 100;
  margin-top: 150px;
  margin-bottom: 15px;
  margin-left: 80px;
  color:coral;
  text-decoration: underline;
  text-decoration-color: #63DDFC;
}
.content h2{
  font-size: 40px;
  font-weight: 100;
  margin-left: 80px;
  margin-top: -10px;
  color:coral;
}
.content p{
  font-size: 20px;
  color:coral;
  margin-left: 80px;
  margin-top: -30px;
}

/*button*/
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #63DDFC;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-left: 60px;
  margin-top: 1px;
}
span{
  background:#63DDFC;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}

/*Slideshow in about section*/
.horizontal_slider{
  display: block;
  width: 100%;
  overflow-x: scroll;
}
.slider_container{
  display: block;
  white-space: nowrap;
}
.item{
  display: inline-block;
  margin-right: 30px;
  background: transparent;
  border-radius: 5%;
  text-align: center;
  margin-top: 150px;
  height: 450px;
  width: 700px;
  border: 5px solid coral;
}
.item img{
  margin-top: 150px;
  width: 600px;
}
.horizontal_slider::-webkit-scrollbar{
  display: none;
}
.img_area img{
  width: 100%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  object-fit: cover;
}
.img_text{
  color: white;
}
.img_text h1{
  text-decoration: underline;
  text-decoration-color: #63DDFC;
}

/*Responsiveness*/
@media only screen and (max-width:750px){
/*Responsive navbar*/
  nav ul{
      width: 100%;
      background:transparent;
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
  }
  nav ul li{
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
  }
  nav ul li a{
      color: #fff;
  }
  .menu-icon{
      display: block;
  }
  #menuList{
      overflow: hidden;
      transition: 0.5s;
  }
/*Responsive slider*/
  .img-slider{
    width: 600px;
    height: 375px;
  }
  .img-slider .slide .info{
    padding: 10px 25px;
  }
  .img-slider .slide .info h2{
    font-size: 35px;
  }
  .img-slider .slide .info p{
    font-size: 15px;
    width: 70%;
  }
  .img-slider .navigation{
    bottom: 25px;
  }
  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
  /*Responsive about section*/
  .item{
    width: 450px;
  }
  .img_text p{
    font-size: 13px;
  }
}

/*Scroll bar*/
::-webkit-scrollbar{     width: 8px; }  ::-webkit-scrollbar-track{     border-radius: 4px;     box-shadow: inset 0 0 8px lightgray; }  ::-webkit-scrollbar-thumb{     border-radius: 4px;     background-color: coral; }  ::-webkit-scrollbar-thumb:hover{     background-color: #fa581d; }
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    border-radius: 4px;
    box-shadow: inset 0 0 8px lightgray;
}
::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: coral;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #fa581d;
}