/*Basic website*/
html{
  scroll-behavior: smooth;
}
body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  background: #342B4B; 
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  float: left;
}
a{
  padding: 20px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/*Definition of navigation bar*/
.logo{
  width: 120px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: -20px;
}
.menu-icon{
  margin-top: -20px;
  width: 50px;
  cursor: pointer;
  display: none;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  overflow: hidden;
  position: fixed;
  top:0;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}
nav ul li a:hover{
  color:#63DDFC;
}

/*Definition of all the sections*/
#home{
  height: 700px;
  display: inline-block;
  width: 100%;
}
#about{
  height: 700px;
  display: inline-block;
  width: 100%;
}
#video{
  height: 700px;
  display: inline-block;
  width: 100%;
}

/*writing/figures on home page*/
.content h1{
  font-size: 60px;
  font-weight: 100;
  margin-top: 150px;
  margin-bottom: 15px;
  margin-left: 80px;
  color:coral;
}
.content h2{
  font-size: 40px;
  font-weight: 100;
  margin-left: 80px;
  margin-top: -10px;
  color:coral;
}
.content p{
  font-size: 20px;
  color:coral;
  margin-left: 80px;
  margin-top: -30px;
}
.content::after{
  content:'';
  width: 10px;
  height: 20%;
  background: #63DDFC;
  position: absolute;
  left: 50px;
  top: 160px;
}

/*button*/
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #63DDFC;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-left: 60px;
  margin-top: 1px;
}
span{
  background:#63DDFC;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}

/*Slideshow in about section*/
.img-slider{
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: white;
  background: rgba(0,0,0,0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50px;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255,255,255,0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}


/*Responsiveness*/
@media only screen and (max-width:750px){
/*Responsive navbar*/
  nav ul{
      width: 100%;
      background:transparent;
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
  }
  nav ul li{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  nav ul li a{
      color: #fff;
  }
  .menu-icon{
      display: block;
  }
  #menuList{
      overflow: hidden;
      transition: 0.5s;
  }
/*Responsive slider*/
  .img-slider{
    width: 600px;
    height: 375px;
  }
  .img-slider .slide .info{
    padding: 10px 25px;
  }
  .img-slider .slide .info h2{
    font-size: 35px;
  }
  .img-slider .slide .info p{
    font-size: 15px;
    width: 70%;
  }
  .img-slider .navigation{
    bottom: 25px;
  }
  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}